<%= javascript_include_tag 'codemirror/codemirror.js', :plugin => 'redmine_nicta' %>

<h2>
  <%= "Script # #{@filename} # #{@commit ? @commit.message : 'New script'}" %>
</h2>

<div class='content'>
  <div class='box'>
    <% if @commits %>
      <p>
      <%= "<b>Number of commits</b>: #{@commits.size}" %>
      <% if @commits.size > 1 %>
        <b>Commits</b>:
        <%= select_tag :version,
              options_for_select(@commits.each_with_index.map {|v, index| ["#{@commits.size - index}: #{v.message}", v.sha] }, (@commit ? @commit.sha : nil)) %>
        <%= submit_tag 'Load', :onclick => "window.location= '/projects/#{@project.identifier}/scripts/' + $F('version') + '/#{@filename}';" %>
      <% end %>
      </p>
    <% end %>

    <% form_tag('/scripts/commit') do %>
      <%= text_area_tag :contents, @contents %>
      <%= text_field_tag :message, @message || 'Commit message' %>
      <%= hidden_field_tag :latest_commit_id, @commit ? @commit.sha : nil %>
      <%= hidden_field_tag :project_id, @project.identifier %>
      <%= hidden_field_tag :script, @filename %>
      <%= submit_tag 'Commit' %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  var editor = CodeMirror.fromTextArea('contents', {
    parserfile: ["tokenizeruby.js", "parseruby.js"],
    stylesheet: "/plugin_assets/redmine_nicta/stylesheets/codemirror/rubycolors.css",
    path: "/plugin_assets/redmine_nicta/javascripts/codemirror/",
    lineNumbers: false,
    textWrapping: false,
    indentUnit: 2,
    parserConfig: {},
    height: '400px'
  });
</script>
