= javascript_include_tag 'codemirror/codemirror.js', :plugin => 'redmine_nicta'

%h2
  = "Experiment Script # #{@experiment_script.script_file_name} # #{@experiment_script.script_updated_at}"
.content
  %p
    %b
      Versions
    \:
    - versions = @experiment_script.versions
    = select_tag :version, options_for_select(versions.each_with_index.map {|v, index| ["#{index + 1}: #{v.script_updated_at}", v.id] }, @experiment_script.id)
    = submit_tag 'Load', :onclick => "window.location= '/experiment_scripts/' + $F('version') + '/edit';"
  - form_tag('/experiment_scripts') do
    .box
      %p
        = text_area_tag :content, @content
      = hidden_field_tag :script_file_name, @experiment_script.script_file_name
    = submit_tag 'Commit'
    This will create a new version
    |
    = link_to 'Back', :back

= javascript_include_tag 'editor.js', :plugin => 'redmine_nicta'
