.contextual
  = link_to l(:label_experiment_script_add), new_experiment_script_url, :class => 'icon icon-add'
%h2 Experiment Scripts
- if @experiment_scripts.empty?
  %p.nodata
    No experiment scripts found
- else
  .autoscroll
    %table.list
      %tr
        %th File name
        %th Versions
        %th Latest updated at
        %th
      - @experiment_scripts.keys.each_with_index do |key, index|
        - last_script = @experiment_scripts[key].last
        %tr.issue{:class => index % 2 == 0 ? 'odd' : 'even'}
          %td.subject= link_to key, last_script
          %td= @experiment_scripts[key].size
          %td= last_script.script_updated_at
          %td= link_to 'Edit', edit_experiment_script_url(last_script)

