.contextual
  = link_to l(:label_experiment_script_add), new_experiment_script_url, :class => 'icon icon-add'
%h2 New experiment Script

- form_for :experiment_script, @experiment_script, :url => experiment_scripts_path, :html => {:multipart=>true, :class => 'tabular'} do |f|
  .box
    %p
      = f.label 'Script'
      = f.file_field :script
  = submit_tag 'Upload'
  = link_to 'Cancel', :back
