= javascript_include_tag 'codemirror/codemirror.js', :plugin => 'redmine_nicta'

%h2
  = "#{@experiment.identifier} / #{@experiment.script_path}"
.content
  - if @experiment.script_committed?
    %p
      %b Latest commit:
      = @experiment.revision.message
    %p
      %b
        Number of revisions:
      = @experiment.revisions.size
    %p
      %b
        Revisions :
      - versions = @commits
      = select_tag :version, options_for_select(@experiment.revisions.map {|v| [@experiment.pretty_commit_id(v.sha), v.sha] }, @revision.sha)
      = submit_tag 'Load', :onclick => "window.location= '#{edit_project_experiment_path(@project, @experiment)}?version=' + $F('version');"

  - form_tag(:controller => :experiments, :action => :commit, :id => @experiment.id, :project_id => @project.id) do
    - if @revision
      %b SHA:
      = @revision.sha
    .box
      %p
        = text_area_tag :script_content, @experiment.script_content(params[:version])
    = hidden_field_tag :latest_commit_id, @revision && @revision.sha
    = text_field_tag :message, @message || 'Default Commit Message'
    = submit_tag 'Commit'
    This will create a new version
    |
    = link_to 'Back', :back

= javascript_include_tag 'editor.js', :plugin => 'redmine_nicta'
