= javascript_include_tag 'codemirror/codemirror.js', :plugin => 'redmine_nicta'

%h2
  = "#{@experiment.identifier} / #{@script_path}"
.content
  - if @commits
    %p
      %b Latest commit:
      = "#{@commit ? @commit.message : 'New script'}"
    %p
      %b
        Number of commits:
      = @commits.size
    %p
      %b
        Versions :
      - versions = @commits
      = select_tag :version, options_for_select(versions.each_with_index.map {|v, index| ["#{@commits.size - index}: #{v.message}", v.sha] }, (@commit ? @commit.sha : nil))
      = submit_tag 'Load', :onclick => "window.location= '/experiments/#{@experiment.id}/edit?project_id=#{@project.identifier}&version=' + $F('version');"

  - form_tag(:controller => :experiments, :action => :commit, :id => @experiment.id, :project_id => @project.id) do
    .box
      %p
        = text_area_tag :script_content, @content
    = hidden_field_tag :latest_commit_id, @commit ? @commit.sha : nil
    = text_field_tag :message, @message || 'Default Commit Message'
    = submit_tag 'Commit'
    This will create a new version
    |
    = link_to 'Back', :back

= javascript_include_tag 'editor.js', :plugin => 'redmine_nicta'
