= render :partial => 'contextual'
%h2= l(:label_experiment_copy)

- form_for :experiment, :url => {:action => 'copy', :project_id => @project}, :html => {:class => 'tabular'} do
  - fields_for :experiment, @experiment, :builder => TabularFormBuilder do |f|
    = error_messages_for :experiment
    .box
      = f.hidden_field :identifier
      = f.hidden_field :experiment_type
      %p
        = f.select :project_id, (User.current.projects-[@project]).map {|v| [v.name, v.id]}, :required => true
  = submit_tag 'Copy'
  = link_to 'Cancel', :back
