= render :partial => 'contextual'
%h2= l(:label_experiment_plural)
- if @experiments.empty?
  %p.nodata
    == No #{l(:label_experiment_plural)} found
- else
  .autoscroll
    %table.list
      %thead
        %tr
          %th Identifier
          %th Experiment Type
          %th Latest revision id
          %th= l(:label_experiment_manage)
          %th Download
      %tbody
        - @experiments.each_with_index do |experiment, index|
          %tr.issue.priority-1{:class => index % 2 == 0 ? 'odd' : 'even'}
            %td.subject= experiment.identifier
            %td= experiment.experiment_type
            %td.subject= experiment.revision.sha if experiment.script_committed?
            %td
              = link_to 'Copy', edit_copy_project_experiment_path(@project, experiment), :class => 'icon icon-copy' if experiment.script_committed?
              = link_to 'Edit', edit_project_experiment_path(@project, experiment), :class => 'icon icon-edit'
            %td.subject= link_to experiment.script_path, project_experiment_url(@project, experiment)

