= render :partial => 'contextual'
%h2= l(:label_experiment_new)

- form_for :experiment, :url => project_experiments_path(@project}, :html => {:class => 'tabular'} do
  - fields_for :experiment, @experiment, :builder => TabularFormBuilder do |f|
    = error_messages_for :experiment
    .box
      %p
        = f.text_field :identifier, :required => true
      %p
        = f.select :experiment_type, AppConfig.experiment_types, :required => true
  = submit_tag
  = link_to 'Cancel', :back
