- fields_for :reservation, @reservation, :builder => TabularFormBuilder do |f|
  = error_messages_for :reservation
  .box
    %p
      =# f.select :resource, AppConfig.resources, :required => true
      = f.label_for_field(:resource, :required => true)

      - AppConfig.resources.map {|v| v.nodes}.flatten.each do |v|
        = v
        = check_box_tag "reservation[resource][]", v, @resource.detect {|r| r == v}
    %p
      = f.select :project_id, User.current.projects.map {|v| [v.name, v.id]}, :required => true
    %p
      = f.text_field :starts_at, :required => true
      = time_calendar_for('reservation_starts_at')
    %p
      = f.text_field :ends_at, :required => true
      = time_calendar_for('reservation_ends_at')
= submit_tag 'Save'
= link_to 'Cancel', :back

