.contextual
  = link_to l(:label_reservation_add), new_project_reservation_url(@project), :class => 'icon icon-add'

- content_for :sidebar do
  = render :partial => 'sidebar'

%h2= l(:label_reservation_plural)

- if @reservations.empty?
  %p.nodata
    No reservations found
- else
  .autoscroll
    %table.list
      %thead
        %tr
          %th Project
          %th Submitted by
          %th Time
          %th Resource
          %th Status
          %th
      %tbody
        - @reservations.each_with_index do |r, index|
          %tr.priority-1.issue{:class => index % 2 == 0 ? 'odd' : 'even'}
            %td.subject
              = Project.find(r.project_id).name
            %td= User.find(r.user_id).name if r.user_id
            %td
              = r.starts_at.strftime('%Y-%m-%d %H:%M:%S')
              \-
              = r.ends_at.strftime('%Y-%m-%d %H:%M:%S')
            %td.subject
              = r.resource
            %td= r.status.upcase
            %td
              - if User.current.allowed_to?({:controller => 'reservations', :action => 'approve'}, nil, :global => true) && r.pending?
                = link_to 'Approve', approve_project_reservation_url(@project, r), :method => :put, :class => 'icon icon-checked'
              - if User.current.allowed_to?({:controller => 'reservations', :action => 'destroy'}, nil, :global => true) && r.pending?
                = link_to 'Deny', project_reservation_url(@project, r), :method => :delete, :class => 'icon icon-del'
              - if User.current.allowed_to?({:controller => 'reservations', :action => 'edit'}, nil, :global => true) && r.pending?
                = link_to 'Edit', edit_project_reservation_url(@project, r), :class => 'icon icon-edit'
